aiogram
aiohttp
alembic
async-timeout
asyncpg
attrs
Babel
certifi
chardet
click
click-default-group
coverage
Flask
Flask-Caching
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
more-itertools
multidict
packaging
pluggy
ply
psycopg2-binary
py
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-editor
pytz
six
SQLAlchemy
SQLAlchemy-Utils
typing
typing-extensions
wcwidth
Werkzeug
WTForms
yarl
