* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans Mono";
    font-size: 15px;
    line-height: 1.6;
    color: #ff9d3c;
}
input {
    outline: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logout {
    color: #ff9d3c;
}
.row {
    width: 100%;
    height: 100%;
    text-align: center;
}
.auth {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid #ff9d3c;
    border-radius: 12px;
}
hr {
    width: 100%;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inline_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input[type=text], input[type=password] {
    border-radius: 12px;
    border: 2px solid #ff9d3c;
    color: #ff9d3c;
    margin: 5px;
    padding: 5px;
}
#sign_in {
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ff9d3c;
    background-color: #fff;
    border: 2px solid #ff9d3c;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    transition: background-color 0.5s linear, color 0.5s linear;
}
#sign_in:hover, #search:hover, .button_labels:hover {
    color: #fff;
    background-color: #ff9d3c;
    cursor: pointer;
}
#search {
    font-size: 13px;
    font-weight: bold;
    color: #ff9d3c;
    background-color: #fff;
    border: 2px solid #ff9d3c;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    transition: background-color 0.5s linear, color 0.5s linear;
}
#upload_button {
    display: none;
}
.button_labels {
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
    color: #ff9d3c;
    background-color: #fff;
    border: 2px solid #ff9d3c;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    text-align: center;
    margin: 15px;
    transition: background-color 0.5s linear, color 0.5s linear;
}
a, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ff9d3c;
    cursor: pointer;
}
.menu>a, .menu>a:visited {
    display: inline-block;
    font-variant: all-small-caps;
    font-size: 20px;
    color: #ff9d3c;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
.menu>a:before {
    content: "| ";
}
.menu>a:first-child:before {
    content: " ";
}
.menu>a:after {
    display: flex;
    flex-direction: column;
    content: "";
    height: 2px;
    width: 0;
    margin-top: 5px;
    background-color: #ff9d3c;
    transition: width .3s ease-in-out;
}
.menu>a:hover:after,
.menu>a:focus:after {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    padding-top: 1%;
    border: 2px solid #ff9d3c;
    border-radius: 12px;
    width: 40%;
}
.content-text li {
    margin-bottom: 5px;
}
.music_list_element {
    cursor: pointer;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination > li {
    list-style-type: none;
    padding: 5px;
}
.pagination > li > a.disabled {
    color: #ff9d3c;
}
.pagination > li > a.disabled:hover {
    color: #ffffff;
    background-color: #ff9d3c;
    border: 2px solid #ff9d3c;
    border-radius: 10px;
    padding: 5px;
    transition: background-color .3s linear, color .3s linear, border .3s linear;
}
.pagination > li > a.active {
    color: #ff9d3c;
    border: 2px solid #ff9d3c;
    border-radius: 10px;
    padding: 5px;
}
#ellipsis {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}
.small_inputs {
    width: 150px;
}
.errors {
    color: #ff0000;
    font-size: 14px;
    margin-top: 15px;
}
.content-text {
    padding: 5px;
}
.text {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
img {
    width: 35px;
    margin-right: 15px;
}
@media (max-width: 700px) {
    .auth {
        width: 80%;
        margin: 10%;
    }
    header {
        justify-content: space-around;
    }
    header > h1 {
        font-size: 25px;
    }
    .row {
        margin-top: 5%;
    }
}
@media (min-width: 701px) and (max-width: 980px) {
    .auth {
        width: 55%;
        margin: 10% auto;
    }
    header {
        margin: 2%;
    }
}
@media (min-width: 981px) and (max-width: 1200px) {
    .auth {
        margin: 5% auto;
    }
    .row {
        margin-top: 4%;
    }
    header {
        justify-content: space-around;
    }
}