* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans Mono";
    font-size: 15px;
    line-height: 1.6;
    color: #ff9d3c;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    width: 100%;
    height: 100%;
    text-align: center;
}
.auth {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 2px solid #ff9d3c;
    border-radius: 12px;
}
hr {
    width: 100%;
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text], input[type=password] {
    outline: none;
    border-radius: 12px;
    border: 2px solid #ff9d3c;
    color: #ff9d3c;
    margin: 5px;
    padding: 5px;
}
#sign_in {
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ff9d3c;
    background-color: #fff;
    border: 2px solid #ff9d3c;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
#sign_in:hover {
    color: #fff;
    background-color: #ff9d3c;
    cursor: pointer;
}
a, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ff9d3c;
    cursor: pointer;
}
.menu>a, .menu>a:visited {
    display: inline-block;
    font-variant: all-small-caps;
    font-size: 20px;
    color: #ff9d3c;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
.menu>a:before {
    content: "| ";
}
.menu>a:after {
    display: flex;
    flex-direction: column;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ff9d3c;
    transition: width .3s ease-in-out;
}
.menu>a:hover:after,
.menu>a:focus:after {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    border: 2px solid #ff9d3c;
    border-radius: 12px;
    width: 40%;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
img {
    width: 35px;
    margin-right: 15px;
}