{% cache 604800 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
{% endcache %}
    <title>PyMusicBot | {{ page_title }}</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>PyMusicBot</h1>
            {% if current_user.is_authenticated %}<a href="{{ url_for('logout') }}" id="logout">Logout</a> {% endif %}
        </header>
        {% block content %}
        {% endblock %}
    </div>
{% cache 604800 %}
    <footer>
        <img src="/static/img/github-icon.png" alt="GitHub">
        <a href="https://github.com/akernelpanicv/PyMusicBot">GitHub Repository</a>
    </footer>
</body>
</html>
{% endcache %}