{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="menu">
            <a href="{{ url_for('admin_music_list') }}">music list</a>
            <a href="{{ url_for('admin_add_music') }}">add music</a>
            <a href="{{ url_for('admin_edit_music') }}">edit music</a>
            <a href="{{ url_for('admin_delete_music') }}">delete music</a>
        </div>
        <div class="content">
            <h2>{{ content_title }}</h2>
            <hr color="#ff9d3c">
            <div class="content-text">
                {% if request.path == '/admin/list' %}
                    <form action="" method="GET" id="search_form">
                        <input type="text" name="search" placeholder="Search" value="{{ request.args.get('search', '') }}">
                        <input type="submit" id="search" value="Search!">
                    </form>
                    <ol>
                    {% for music in pages.items %}
                        <li title="ID: {{ music.id }}" class="music_list_element">{{ music.title }}</li>
                    {% endfor %}
                    </ol>
                    <nav>
                        <ul class="pagination">
                        {% if search %}{% set local_search='&search=%s' % search %}{% endif %}
                            {% if pages.has_prev %} <li><a href="./list?page={{ pages.prev_num }}{{ local_search }}" class="disabled">&laquo;</a></li> {% endif %}
                            {% for page in pages.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %}
                                {% if page %}
                                    <li><a href="./list?page={{ page }}{{ local_search }}" {% if pages.page == page %} class="active" {% else %} class="disabled" {% endif %}>{{ page }}</a></li>
                                {% else %}
                                    <span id=ellipsis>...</span>
                                {% endif %}
                            {% endfor %}
                            {% if pages.has_next %} <li><a href="./list?page={{ pages.next_num }}{{ local_search }}" class="disabled">&raquo;</a></li> {% endif %}
                        </ul>
                    </nav>
                {% elif request.path == '/admin/add' %}
                    <form action="{{ url_for('admin_add_music') }}" method="POST" enctype="multipart/form-data" class="inline_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% for field in add_music_form %}
                            {% if field.name == 'music' %}
                                {{ field.label(class='button_labels') }}
                            {% endif %}
                            {{ field() }}
                        {% endfor %}
                        <input type="submit" value="Upload!" class="button_labels">
                    </form>
                {% elif request.path == '/admin/edit' %}
                    <form action="{{ url_for('admin_edit_music') }}" method="POST" class="inline_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% for field in edit_music_form %}
                            {{ field(class='small_inputs') }}
                        {% endfor %}
                        <input type="submit" value="Edit!" class="button_labels">
                    </form>
                {% elif request.path == '/admin/delete' %}
                    <form action="{{ url_for('admin_delete_music') }}" method="POST" class="inline_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% for field in delete_music_form %}
                            {{ field() }}
                        {% endfor %}
                        <input type="submit" value="Delete!" class="button_labels">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}