{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="menu">
            <a href="{{ url_for('admin_music_list') }}">music list</a>
            <a href="{{ url_for('admin_add_music') }}">add music</a>
            <a href="{{ url_for('admin_update_music') }}">update music</a>
            <a href="{{ url_for('admin_delete_music') }}">delete music</a>
        </div>
        <div class="content">
            <h2>{{ context.content_title }}</h2>
            <hr color="#ff9d3c">
            <div class="content-text">
                {% if request.path == '/admin/list' %}
                    <form action="" method="GET" id="search_form">
                        <input type="text" name="search" placeholder="Search" value="{{ request.args.get('search', '') }}">
                        <input type="submit" id="search" value="Search!">
                    </form>
                    <ol>
                    {% for music in context.pages.items %}
                        <li>{{ music.title }}</li>
                    {% endfor %}
                    </ol>
                    <nav>
                        <ul class="pagination">
                        {% if context.search %}{% set search='&search=%s' % context.search %}{% endif %}
                            {% if context.pages.has_prev %} <li><a href="./list?page={{ context.pages.prev_num }}{{ search }}" class="disabled">&laquo;</a></li> {% endif %}
                            {% for page in context.pages.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %}
                                {% if page %}
                                    <li><a href="./list?page={{ page }}{{ search }}" {% if context.pages.page == page %} class="active" {% else %} class="disabled" {% endif %}>{{ page }}</a></li>
                                {% else %}
                                    <span id=ellipsis>...</span>
                                {% endif %}
                            {% endfor %}
                            {% if context.pages.has_next %} <li><a href="./list?page={{ context.pages.next_num }}{{ search }}" class="disabled">&raquo;</a></li> {% endif %}
                        </ul>
                    </nav>
                {% elif request.path == '/admin/add' %}
                    <form action="{{ url_for('admin_add_music') }}" method="POST" enctype="multipart/form-data" id="upload_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% for field in context.add_music_form %}
                            {% if field.name == 'music' %}
                                {{ field.label(class='upload_button_label') }}
                            {% endif %}
                            {{ field() }}
                        {% endfor %}
                        <input type="submit" value="Upload!" class="upload_button_label">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}