<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>PyMusicBot | {{ context.page_title }}</title>
</head>
<body>
    <div class="container">
        <h1>PyMusicBot</h1>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <img src="/static/img/github-icon.png" alt="GitHub">
        <a href="https://github.com/akernelpanicv/PyMusicBot">GitHub Repository</a>
    </footer>
</body>
</html>